project:
  type: website

website:
  title: "Teaching Machines to Fight Cancer: Using Machine Learning to Design Personalized Cancer Vaccines"
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/
      - icon: twitter
        href: https://twitter.com
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css



